{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h2> Edit Ingredient </h2>

  

    {{ form_start(form) }}

            <div class="form-group ">
            {{ form_label(form.name) }}
              {{ form_widget(form.name) }}

              <code >
                {{ form_errors(form.name) }}
                </code>
            </div>

 <div class="form-group ">
            {{ form_label(form.price) }}
              {{ form_widget(form.price) }}
                <code>
                {{ form_errors(form.price) }}
                 </code>
         
            </div>

             <div class="form-group ">
            {{ form_row(form.submit) }}
             
            </div>
    {{ form_end(form) }}
      
    </div>
{% endblock %}