{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}  &middot; Ingredient{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h1 class="title "> Ingredients</h1>
 <div class="count">
    il y a {{ ingredient.getTotalItemCount }} ingredients
</div>
    <table class="table table-hover">
            <thead >
                <tr>    
                    <th scope="col">Numero</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date creation</th>
                </tr>
            </thead>
            <tbody>   
            {% for ingredients in ingredient %}
                <tr class="table-primary">
                    <th scope="row">{{ingredients.id}}</th>
                     <td>{{ingredients.name}} </td>
                     <td>{{ingredients.price}} </td>
                     <td>{{ingredients.createdAt | date('Y M d')}} </td>
                </tr>  
            {% endfor %} 
            </tbody>
        </table>

        <div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredient) }}
</div>
 
    
  
    </div>
{% endblock %}
