{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}  &middot; Ingredient{% endblock %}

{% block body %}
    <div class="container mt-4">
     {% for message in app.flashes('success') %}
<div class="alert alert-info mt-4">
         {{ message }}
</div>
{% endfor %}
    
   
 {% if not ingredient.items is same as([])%}
   <h1 class="title "> Ingredients</h1>
    <a class="btn btn-primary" href="{{ path('app_new_ingredient')}}"> Add</a>
 <div class="count">
    il y a {% if( ingredient.getTotalItemCount == 1) %}{{  ingredient.getTotalItemCount }} ingredient {% else %}  {{  ingredient.getTotalItemCount }} ingredients {%  endif %}
</div>
    <table class="table table-hover">
            <thead >
                <tr>    
                    <th scope="col">Numero</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date creation</th>
                     <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>   
            {% for ingredients in ingredient %}
                <tr class="table-primary">
                    <th scope="row">{{ingredients.id}}</th>
                     <td>{{ingredients.name}} </td>
                     <td>{{ingredients.price}} </td>
                     <td>{{ingredients.createdAt | date('Y M d')}} </td>
                      <td>
                        <a href="{{ path('app_ingredient_edit',{id: ingredients.id}) }}" class="btn  btn-primary"> edit</a>
                         <a href="{{ path('app_ingredient_delete',{id: ingredients.id}) }}"  class="btn  btn-danger"> del</a>
                       </td>
                </tr>  
            {% endfor %} 
            </tbody>
        </table>

        <div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredient) }}
</div>
        {% else %}
    
    <h2>Empty</h2>
        <a class="btn btn-primary" href="{{ path('app_new_ingredient')}}"> Add</a>
    {% endif %}
  
    </div>
{% endblock %}
