{% extends "base.html.twig" %}
{% block title %}  {{parent() }} | create recipe {% endblock %}
{% block body %}
    <div class="container mt-4">
        <h2> Create Recipe</h2>

  

   {{ form_start(form) }}

            <div class="form-group ">
            {{ form_label(form.name) }}
              {{ form_widget(form.name) }}

              <code >
                {{ form_errors(form.name) }}
                </code>
            </div>

 <div class="form-group ">
            {{ form_label(form.price) }}
              {{ form_widget(form.price) }}
                <code>
                {{ form_errors(form.price) }}
                 </code>
                 {{  form_help(form.price) }}
      </div>

       <div class="form-group ">
            {{ form_label(form.time) }}
              {{ form_widget(form.time) }}
                <code>
                {{ form_errors(form.time) }}
                 </code>
                 {{  form_help(form.time) }}
      </div>

       <div class="form-group ">
            {{ form_label(form.nbPeople) }}
              {{ form_widget(form.nbPeople) }}
                <code>
                {{ form_errors(form.nbPeople) }}
                 </code>
                 {{  form_help(form.nbPeople) }}
      </div>

       <div class="form-group ">
            {{ form_label(form.difficulty) }}
              {{ form_widget(form.difficulty) }}
                <code>
                {{ form_errors(form.difficulty) }}
                 </code>
                 {{  form_help(form.difficulty) }}
      </div>

 <div class="form-group ">
            {{ form_label(form.description) }}
              {{ form_widget(form.description) }}
                <code>
                {{ form_errors(form.description) }}
                 </code>
                 {{  form_help(form.description) }}
      </div>

       <div class="form-group ">
            {{ form_label(form.imageFile) }}
              {{ form_widget(form.imageFile) }}
                <code>
                {{ form_errors(form.imageFile) }}
                 </code>
                 {{  form_help(form.imageFile) }}
      </div>

       <div class="mb-3 form-check form-switch mt-4">
            {{ form_widget(form.isFavorite) }}
            {{ form_label(form.isFavorite) }}
         
                <code>
                {{ form_errors(form.isFavorite) }}
                 </code>
                 {{  form_help(form.isFavorite) }}
      </div>

       

       <div class="form-group ">
          {%  for field in form.ingredients %}
          <div class="mt-4 mr-4 badge bg-success" style="display:inline; min-width:10%; ">
       
           {{ form_widget(field) }}
               {{ form_label(field) }}
</div>

               {% endfor %}
      </div>

   <div class="mb-3 form-check form-switch mt-4">
          {{ form_widget(form.isPublic) }}    
          {{ form_label(form.isPublic) }}
            
                <code>
                {{ form_errors(form.isPublic) }}
                 </code>
                 {{  form_help(form.isPublic) }}
      </div>
             <div class="form-group ">
            {{ form_row(form.submit) }}
             
            </div>
    {{ form_end(form) }} 
      
    </div>
{% endblock %}